:root {
    --bg-primary: #FFFFFF;
    --text-primary: #262626;
    --text-secondary: #455166;
    --border: #dce1e9;
    --icons: #6a7996;
    --accent: #3067f8;
    --like: #d95896;
    --repost: #5abd6d;
    --post-hover: #f7f8fa;
}


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1 {
    color: var(--accent);
    margin-left: 10px;
    font-size: 28px;
}

header p {
    font-size: 13px;
    align-content: center;
    color: var(--text-secondary);
    letter-spacing: 0.5px;
    padding-left: 20px;
    margin-bottom: 4px;
    opacity: 0.4;
}

/* icons */

i {
    font-size: 14px;
    cursor: pointer;
    color: var(--icons);
}

.liked {
    color: var(--like);
}

.reposted {
    color: var(--repost);
}



/* layout */

main,
header {
    width: 500px;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    display: flex;
}

.tweet-input {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--post-hover);
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}


textarea {
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    font-family: inherit;
}

button {
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

/* tweet */

.tweet {
    border: 1px solid var(--border);
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
}

.tweet:hover {
    background-color: var(--post-hover);
}

.tweet-inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail {
    display: flex;
    gap: 4px;
}

.tweet-reply {
    border-top: 1px solid var(--border);
    padding: 20px;
    margin: 10px 10px 0px 50px;
    border-radius: 0 0 20px 20px;
}

.tweet-reply:hover {
    background-color: var(--bg-primary);
}

.handle {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary);
    margin-top: 0;
}

.tweet-text {
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic {
    border: 1px solid var(--border);
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden {
    display: none;
}











/* GitHub link */
.github-button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 16px;
    height: 16px;
    color: var(--text-primary);
}

.github-button svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}

.github-button:hover {
    color: var(--blue)
}