html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1 {
    color: #0F8CDF;
    margin-bottom: 10px;
    font-size: 20px;
}

i {
    font-size: 15px;
    cursor: pointer;
}

.fa-solid {
    color: #999;
}

.liked {
    color: red;
}

.retweeted {
    color: limegreen;
}

/* layout */

main,
header {
    width: 290px;
    margin: 0 auto;
}

header {
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}


textarea {
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    font-family: inherit;
}

button {
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* tweet */

.tweet {
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail {
    display: flex;
    gap: 4px;
}

.tweet-reply {
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle {
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text {
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden {
    display: none;
}


/* GitHub link */
.github-button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 16px;
    height: 16px;
    color: var(--text-primary);
}

.github-button svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease;
}

.github-button:hover {
    color: skyblue;
}